<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="addin" type="Tz.Common.AddIn"/>
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
  </appSettings>

  <addin>
    <tz.pad>
      <ParcelServices>
        <!--<ParcelService region="Singapore" type="ParcelBusiness_Singapore.ParcelReservation, ParcelBusiness_Singapore" location="C:\Regional\SingPost\Posting-Payment\Prototype\PrototypeBreakdown\ParcelBusiness\bin\Debug\ParcelBusiness_Singapore.dll"/>
        <ParcelService region="Genetech" type="ParcelBusiness_Genetech.ParcelReservation, ParcelBusiness_Genetech" location="C:\Regional\SingPost\Posting-Payment\Prototype\PrototypeBreakdown\ParcelBusiness_Genetech\bin\Debug\ParcelBusiness_Genetech.dll"/>-->

        <ParcelService region="Singapore" type="ParcelBusiness_Singapore.ParcelReservation, ParcelBusiness_Singapore" location="ParcelBusiness_Singapore"/>
        <ParcelService region="Genetech" type="ParcelBusiness_Genetech.ParcelReservation_Genetech, ParcelBusiness_Genetech" location="ParcelBusiness_Genetech"/>
      </ParcelServices>
    </tz.pad>
  </addin>

  <connectionStrings>
    <add name="Default" connectionString="data source=.\sqlexpress;initial catalog=Database;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"/>
    <add name="Genetech" connectionString="data source=.\sqlExpress;initial catalog=tz.Genentech.server.db.p1.0;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="Singapore" connectionString="data source=.\sqlexpress;initial catalog=tz.singaporepost.server.db.p3.2;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>